{% extends 'base.html' %}

{% block title %}
<title> Профиль&#129313 </title>
{% endblock %}

{% block body %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<h1>Профиль</h1>
<table border="0" class="profile-table">
	<tr ><td valign="top">
		<div class="profile-ava"><img width="100" height="100" src="static/images/profile.png"></div>
		<div class="profile-load">
		</div>
	</td>
	<td valign="top" class="profile-panel">
		<ul class="profile-info">
		<li>Имя: {{ current_user.getName() }}</li>
		<li>Email: {{ current_user.getEmail() }}</li>
		</ul><br>
		<p><a href="{{url_for('logout')}}">Выйти из профиля</a>
	</td></tr>
</table>
	<h1>Карты пользователя</h1>
	{% if card != [] %}
	{% for c in card %}
<li>
<b>Номер и серия карты</b><a  name ="{{c.card_series}}" class="title" href="{{url_for ('ShowPost',alias=c.card_number)}}">{{c.card_series}}{{ c.card_number }}</a>
<!--<p >{{ c.data_card_create }}</p>-->
<!--<p>{{ c.data_card_end }}</p>-->
<!--<p >{{ c.data_card_last_use }}</p>-->
<!--<p >{{ c.total_sum }}</p>-->
<!--<p >{{ c.card_status }}</p>-->
<!--<p >{{ c.current_discount }}</p>-->
<!--<p>{{ c.owner }}</p>-->

<a name="{{c.card_number}}" href="/admin/<{{c.card_number}}>/delete" class="btn btn-danger">В корзину</a>
	<a name="{{c.card_number}}" href="/admin/<{{c.card_number}}>/delete" class="btn btn-danger">Деактивировать</a>
		<hr>
</li>
{% endfor %}
	{%else%}
	<h1>Карт нету</h1>
	{% endif %}


{% endblock %}