{% extends 'base.html'%}

{% block title%}
Добавление Карты
{% endblock%}

{% block body%}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<div class="container">
    <h1>Генератор карты</h1>
    <form name="myForm" method="post">
        <input type="text" name="card_series" id="card_series" minlength="2" class="form-control" maxlength="2" placeholder="Введите серию карты" required></br>
        <label>Количество карт: </label><input type="number" name="count" id='count' min="1" max="10"  required><br>
        <label>Выберите категорию:</label>
     <select name="language" id="months" required >
          <option selected>Активная</option>
          <option>Неактивная</option>
          <option>Просроченная</option>
         </select>
         <br>
        <label id="sel">Вы выбрали:</label>
        <a id="card_status" name="card_status">Aктивная</a><br>
        <label id="d">Окончание действия карты</label><input id="end_card" name="end_card" type="date" min="2024-01-01" required value="2024-01-01">
        <input type="number" name="current_discount" id="current_discount" maxlength="5"  class="form-control" placeholder="скидка по карте" required></br>
        <input type="submit" class="btn btn-success" value="Отправить">
    </form>
</div>
<script>
var languagesSelect = myForm.language;

function changeOption(){

    var selection = document.getElementById("card_status");
    var selectedOption = languagesSelect.options[languagesSelect.selectedIndex];
    selection.textContent =  selectedOption.text;
}

languagesSelect.addEventListener("change", changeOption);
</script>

{% endblock%}